.nav-menu{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    background-color: #1B1C1E;
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
    color: white;
    min-width: 145px;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 45px;
}
.nav-text a:hover{
    background-color: #323335;
}
.nav-text span {
    margin-left: 10px;
}
.nav-text a{
    text-decoration: none;
    color: white;
    font-size: .95rem;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}
.nav-menu #mainSideBarContent{
    grid-row: 3/span 1;

}
.nav-menu .logOutLink{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 8/span 1;
    padding-bottom: 25px;

}
.nav-menu .companyLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}