/* .students {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
    }
.test{
    grid-column: 3 / span 6;
    grid-row: 4/9;
} */